/* 
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/

// We use these to define default font stacks
$font-pixel : "Press Start 2p";
$font-family-sans-serif: "Roboto", Helvetica, Roboto, Arial, sans-serif;
// $font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
// $font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF; /***/
$smoke       : #EEEEEE;
$gainsboro   : #DADADA; /***/
$iron        : #C3C3C3; /***/
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #7F7F7F; /***/
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #3B3B3B; /***/
$jet         : #191919; /***/
$black       : #000000;

// We use these as default colors throughout
$primary-color: #bf262b;
$secondary-color: #8f0a0b;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

// We use these to control various global styles
$body-bg: $jet;
$body-font-color: $jet;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$header-font-weight: 300;
$header-text-rendering: optimizeLegibility;
$topbar-link-weight: bold;