// Add some whitespace above the footer for medium-up screens
@media #{$small-up} {

	footer.row {
		background-color: $oil;
		padding-top: 1.25rem;
		padding-bottom: 3.125rem;
		position: relative;
		h5 {
			color: $monsoon;
			font-size: 0.75rem;
			margin-bottom: 0.3125rem;
		}
	}

	.footer-nav {
		li {
			border-left: solid 1px #585858;
			padding: 0 0.625rem;
			line-height: 10px;
			&:first-child {
				padding-left: 0;
				border: none;
			}
		}
		a {
			font-size: 0.75rem;
			color: #585858;
			line-height: 10px;
			&:hover {
				color: $white;
			}
		}
	}

	#back-to-top {
		position: fixed;
		bottom: 20px;
		right: 30px;
		visibility: hidden;
		a {
			display: inline-block;
			// border: solid 1px $white;
			background: $primary-color;
			color: $white;
			padding: 15px;
			line-height: 0;
			@include transition( transform, 200ms, ease-out);
			&:hover {
				transform: translateY(-10px);
			}
		}
		// &:before {
		// 	content: "Back to top";
		// 	font-size: 0.5rem;
		// 	font-family: $font-pixel;
		// 	text-transform: uppercase;
		// 	color: $white;
		// 	overflow: hidden;
		// 	position: absolute;
		// 	right: 38px;
		// 	width: 0;
		// 	height: 38px;
		// 	line-height: 38px;
		// 	opacity: 0;
		// 	@include transition(all, 250ms, ease-out );
		// 	white-space: nowrap;
		// }
		// &:hover:before {
		// 	opacity: 1;
		// 	width: 100px;
		// }
	}
}

@media #{$large-up} {
	#back-to-top {
		visibility: visible;
	}
}
